/*------  共用區public ------ */
.float-left
  float: left
.float-right
  float: right
.no-padding
  padding: 0
.no-padding-left
  padding-left: 0
.no-padding-right
  padding-right: 0
.no-margin-top
  margin-top: 0 !important
.margin-top91
  margin-top: 87px
.height87
  height: 87px
//border: none
.height60
  height: 60px
.pointer
  cursor: pointer
.notice
  color: $redDefault
  font-weight: bold
.bold
  font-weight: bold
.markOne
  color: $blue
  font-weight: bold
.lineHeight14
  line-height: 14px
.lineHeight18
  line-height: 18px
.lineHeight24
  line-height: 24px
.lineHeight27
  line-height: 27px
.lineHeight34
  line-height: 34px
.font-14
  font-size: $font-14
.font-default
  font-size: $font-default
.font-lg
  font-size: $font-lg
a
  text-decoration: none
  cursor: pointer
/* 共用區End */

// custom
// 客製 button
.btn-black
  background-color: #555555
  opacity: 0.8
  color: #fff
  &:hover
    opacity: 1
    color: #fff
.btnCustom
  padding: 10px 25px
  color: $white
  background: $webThemeColor
  &:hover,&:focus
    color: $white
    opacity: 0.8
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease
    i
      margin-left: 10px
      transition: all 0.4s ease
  &:active,&.active
    background: $webThemeColorSec
    color: $webThemeColorBtnSec
    -webkit-box-shadow: none
    box-shadow: none

.btnCustomTwo
  padding: 6px 25px
  color: $webThemeColor
  background: $white
  border: 1px solid $webThemeColor
  &:hover,&:focus
    color: $webThemeColorBtnSec
    font-weight: bold
    border: 1px solid $webThemeColorBtnSec
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease
    i
      margin-left: 10px
      transition: all 0.4s ease
  &:active,&.active
    color: $webThemeColorBtnSec
    border: 1px solid $webThemeColorSec
    -webkit-box-shadow: none
    box-shadow: none

