/*------ var ------*/
$full-width: 100%
//color
// 皇家　style_purple
// 天悅　style_gold
// 趣淘漫旅　style_indigo
$white: #fff
$redDefault: #ff0000
$gray: #555555
$black: #000
$fontColor: #808080

// 皇家 #A03485
// 天悅 #AE7722
// 趣淘漫旅 #6f51d2(main)  #531eb5
$webThemeColor: #6f51d2

// 皇家 #ecd6e7
// 天悅 rgba(246,202,94,0.7)
// 趣淘漫旅 rgba(111,81,210,0.5)
$webThemeColorSec: rgba(111,81,210,0.5)

// 皇家 #ba8037
// 天悅 #69614c
// 趣淘漫旅 #ba8037
$webThemeColorContentTitle: #ba8037

// 皇家 rgba(66,59,255,0.5)
// 天悅 rgba(246,202,94,0.7)
// 趣淘漫旅 rgba(111,81,210,0.5)
$voucherBg: rgba(111,81,210,0.5)

$webThemeColorThird: #ba8037
$webThemeColorThirdHover: rgba(186, 128, 55,0.6)
$webThemeColorBtnSec: #555555
$searchBorder: #888888
$borderStyle: #cccccc
$blue: #0d67a0
$dayToday: #FFA7A7

//HPW color
$red: #871b22
$golden: #c7b999
$goldenLight: #C8A063
$orange: #ff8503
$opacityBlack: rgba(0,0,0,0.8)
$opacityBlack-02: rgba(0,0,0,0.5)
$opacityBlack-03: rgba(0,0,0,0.3)
$page-bg: #eceaea

//E-DA color
$color-darkGary: #333
$color-darkGary02: #000

//font-size
$font-default: 16px
$font-xs: 0.75em
$font-14: 0.875em
$font-16: 1em
$font-lg: 1.2em
$font-2x: 1.5em
$font-3x: 1.8em
$font-orderTitle: 2em
$font-date: 2.8125em

// line-height
$lineHeight16: 16px
$lineHeight22: 22px
$lineHeight24: 24px
$lineHeight30: 30px
$lineHeight36: 36px
